<div class='center jumbotron'>
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :school, 'School or Company' %><br />
      <%= f.text_field :school, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :description, 'Quick Note About You'%>
      (100 words or less)<br />
      <%= f.text_area :description, autocomplete: "off" %>
    </div>

    <!--<div class="field">
      <%=
=begin
  button_to "https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=#{ENV['LinkedIn_ID']}&redirect_uri=#{Request.original_url}&state=HEYJUDEDONTMAKEITBAD", via: 'get'
=end
  %>-->

    <div class="field">
      <%= f.label :location %><br />
      <%= f.text_field :location, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Create My Account" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
