<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <head>
    <style>
      #map {
        width: 1000px;
        height: 700px;
      }
    </style>
  </head>


  <body>

  	<div class="page-header">
      <h3 ALIGN="LEFT" style="background-color:lightyellow; color:blue"> Senior Map for the Cal Class of 2016! </h3>
      <h1 ALIGN="CENTER" style="color:blue; background-color:lightyellow;"> List of Alumni </h1>
    </div>

<!--TODO: need to hookup content from DB to this repsonsive table -->
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>City</th>
              <th>Title</th>
              <th>Email</th>
              <th>Description</th>

        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @users) do |user| %>
              <td><%= user.first_name %></td>
              <td><%= user.last_name %></td>
              <td><%= user.city %></td>
              <td><%= user.email %></td>
        <% end %>
      </tbody>
    </table>
  </div>

    <div id="map"></div>
    <script>
      function initMap() {
        // var mapDiv = document.getElementById('map');
        // var map = new google.maps.Map(mapDiv, {
        //   center: {lat: 37.77397, lng: -122.431927},  // this location is SF
        //   zoom: 8
        // });

        var styles = [
            {
                "featureType": "water",
                "stylers": [
                    {
                        "color": "#19a0d8"
                    }
                ]
            },
            {
                "featureType": "administrative",
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "color": "#ffffff"
                    },
                    {
                        "weight": 6
                    }
                ]
            },
            {
                "featureType": "administrative",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#e85113"
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#efe9e4"
                    },
                    {
                        "lightness": -40
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#efe9e4"
                    },
                    {
                        "lightness": -20
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "lightness": 100
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "lightness": -100
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "labels.icon"
            },
            {
                "featureType": "landscape",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "landscape",
                "stylers": [
                    {
                        "lightness": 20
                    },
                    {
                        "color": "#efe9e4"
                    }
                ]
            },
            {
                "featureType": "landscape.man_made",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "lightness": 100
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "lightness": -100
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "hue": "#11ff00"
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "lightness": 100
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "hue": "#4cff00"
                    },
                    {
                        "saturation": 58
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                    {
                        "visibility": "on"
                    },
                    {
                        "color": "#f0e4d3"
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#efe9e4"
                    },
                    {
                        "lightness": -25
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#efe9e4"
                    },
                    {
                        "lightness": -10
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            }
        ];

        var styledMap = new google.maps.StyledMapType(styles,
          {name: "Styled_Map"});

          var mapOptions = {
            zoom: 8,
      center: new google.maps.LatLng(37.7749, -122.4194),
      mapTypeControlOptions: {
        mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
      }
    };
    var map = new google.maps.Map(document.getElementById('map'),
      mapOptions);

    map.mapTypes.set('map_style', styledMap);
    map.setMapTypeId('map_style');


        // you can use html format to display the info
        var contentString = " <h3> user first_name last_name </h3> description";
        var infowindow = new google.maps.InfoWindow({
            content: contentString
          });
        var marker = new google.maps.Marker({
              position: new google.maps.LatLng(37.869565, -122.258786),  // this is berkeley
              map: map, title: "Sample",
              animation: google.maps.Animation.DROP,
            });
        marker.addListener('click', function() {
          if (marker.getAnimation() !== null) {
               marker.setAnimation(null);
             } else {
               infowindow.open(map, marker);
               marker.setAnimation(google.maps.Animation.BOUNCE);
             }
            });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
  </body>
</html>
