<header id="header">
  <nav>
    <div id="header-background">
      <div class="container">
        <%= link_to image_tag("logo.png", alt: "", height: "100", width: "100"), root_path, id: "logoimage" %>
          
        <%= link_to 'About', about_path %>
        |
        <%= link_to 'Help', help_path %>
        |
        <%= link_to 'Contact', contact_path %>
        |
        <% if current_user %>
          <div class='button form-inline'>
            <div class="btn-group">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><%= current_user.first_name + ' ' + current_user.last_name %>
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><%= link_to "Edit Profile", edit_user_registration_path, method: 'get' %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %></li>
              </ul>
            </div>
          </div>
        <% else %>
          <%= link_to "Sign Up", new_user_session_path %>
        <% end %>
      </div>

    </div>
  </nav>
</header>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>